@import '../styles.scss';

.header {
    max-height: 32px;
    .avatar {
        width: 2rem;
        background-image: url('/assets/img/background-avatar.svg');
        background-size: contain;
    }

    &__text {
        font-size: 0.8rem;
    }

    &__icon {
        width: 16px;
        height: 10px;
    }

    &__half {
        max-height: 16px;
    }
}

.content {

    &__header {
        color: white;
        opacity: 50%;

        &--small {
            font-size: 0.7rem;
            font-weight: 400;
        }
    }

    .card {
        background: linear-gradient(0deg, #14171A, #14171A),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
        color: white;
        border: 0.5px solid #FFFFFF33;
        border-radius: 20px;

        .card-body {
            &__item-content {
                margin-left: 30px;

                &--money {
                    padding: 0 1rem 0.5rem 0;
                    color: #88FFC7;
                }
            }

            &__item-header {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                color: white;

                &--money {
                    color: #88FFC7;
                    font-size: 16px;
                }

                &--losts {
                    color: #FF6F6F;
                    font-size: 16px;
                }

                &--small {
                    font-size: 0.9rem;
                    font-weight: 500;
                    color: white;
                    margin: 0 !important;
                }

                &--smaller {
                    font-size: 0.6rem;
                    font-weight: 400;
                    color: white;
                    margin: 0 !important;
                }

                &--smaller-red {
                    font-size: 0.6rem;
                    font-weight: 400;
                    color: #FF6F6F;
                    margin: 0 !important;
                }

                @media screen and (max-width: 320px) {
                    font-size: 10px;

                    &--small {
                        font-size: 8px;
                    }

                    &--money {
                        font-size: 12px;
                    }

                    &--losts {
                        font-size: 12px;
                    }
                }
            }

            &__item-text {
                font-size: 10px;
                color: white;
                opacity: 50%;

                &--money {
                    color: #88FFC7;
                    opacity: 100%;
                    font-size: 12px;
                }

                &--losts {
                    color: #FF6F6F;
                    opacity: 100%;
                    font-size: 12px;
                }

                &--small {
                    font-size: 7px;
                    color: white;
                    opacity: 50%;
                }

                &--small-red {
                    font-size: 7px;
                    color: #FF6F6F;
                }

                @media screen and (max-width: 320px) {
                    font-size: 7px;

                    &--money {
                        font-size: 10px;
                    }

                    &--loses {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .avatar-stack img:nth-child(2) {
        right: 5px;
      }
      
    .avatar-stack img:nth-child(3) {
        right: 10px;
    }

    .avatar-stack > span {
        width: 16px;
        height: 16px;
        display: flex;
        font-size: 0.6rem;
        right: 16px;
        position: relative;
        background-color: #2b2e30;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .list-group {
        li {
            background: linear-gradient(0deg, #14171A, #14171A),
            linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
            border: unset;
        }
        .client-avatar {
            position: absolute;
            left: 30px;
            top: 25px;
        }
    }

    .list-group li:nth-child(1) section {
        border-radius: 8px;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(25,88,59,0.700717787114846) 95%);
      }

      .list-group li:nth-child(2) section {
        border-radius: 8px;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(25,88,59,0.700717787114846) 95%);
      }

      .list-group li:nth-child(3) section {
        border-radius: 8px;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,27,27,0.700717787114846) 95%);
      }
  }

  ul {
        border: unset !important;
    }

.blur-top {
    position: absolute;
    top: 13px;
    left: 22px;
}

button {
    width: 95%;
    padding: 14px 45px 14px 45px;
    margin: 1rem;
    border-radius: 13px;
    background-color: #303236;
    border: 1px solid #14171A;
    color: white;
    transition: all 0.5s ease;
}

button:hover {
    box-shadow: 0px 0px 39px 13px rgba(0, 0, 0, 1);
}

.plus-icon {
    transition: all 0.5s ease;
    position: fixed;
    bottom: 25px;
    right: 35px; 
    background: linear-gradient(225deg, #087AFF 21.7%, #72EAB5 100.34%);
    width: 50px;
    height: 50px;
}

.plus-icon:hover {
    box-shadow: 0px 0px 39px 13px rgba(0, 0, 0, 1);
}