<div class="container">
  <section class="header d-flex mt-2 justify-content-between mt-4">
    <div class="d-flex">
      <span class="avatar text-bg-primary rounded-circle d-flex justify-content-center align-items-center">AG</span>
      <div class="d-flex flex-column ms-2">
        <span class="header__half header__text">Alex G</span>
        <div class="header__half d-flex align-items-center">
          <img class="header__icon" src="assets/img/icons/header-icon-1.svg">
          <span class="header__text ms-1">3000 xBits</span>
          <img class="header__icon ms-1" src="assets/img/icons/header-icon-2.svg">
          <span class="header__text ms-1">85</span>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <img src="assets/img/icons/add-user.svg">
    </div>
  </section>

  <section class="content">
    <h2 class="content__header mt-4 mb-4">Competitions</h2>
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="avatar-stack d-flex">
            <img class="avatar position-relative" src="assets/img/icons/avatar-1.svg" />
            <img class="avatar position-relative" src="assets/img/icons/avatar-2.svg" />
            <img class="avatar position-relative" src="assets/img/icons/avatar-3.svg" />
            <span class="avatar rounded-circle">18</span>
        </div>
        <span class="content__header content__header--small">Too late to join</span>
      </div>
        <h5 class="card-title content__header mt-3">Weekly Challenges</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <section class="d-flex rounded-lg">
            <div class="d-flex justify-content-between w-100">
              <div class="d-flex">
                <div>
                  <img src="assets/img/client-blur-1.png">
                  <img class="client-avatar" src="assets/img/icons/client-avatar-1.svg">
                </div>
                <div class="card-body__item-content d-flex flex-column position-relative justify-content-center">
                  <div class="d-flex align-items-baseline">
                    <h2 class="card-body__item-header">Roger Korsgaard</h2>
                    <img class="ms-2" src="assets/img/icons/check.svg">
                  </div>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h3 class="card-body__item-header--small">20</h3>
                      <span class="card-body__item-text">Alerts</span>
                    </div>
                    <div class="d-flex flex-column ms-3">
                      <h3 class="card-body__item-header--small">85%</h3>
                      <span class="card-body__item-text">Win Rate</span>
                    </div>
                    <div class="d-flex flex-column ms-3">
                      <h3 class="card-body__item-header--small">11%</h3>
                      <span class="card-body__item-text">Yield</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body__item-content--money d-flex flex-column justify-content-end">
                <h3 class="card-body__item-header--money m-0">
                  + 7,500
                </h3>
                <span class="card-body__item-text--money text-end">45%</span>
              </div>
            </div>
          </section>
        </li>
        <li class="list-group-item">
          <section class="d-flex rounded-lg">
            <div class="d-flex justify-content-between w-100">
              <div class="d-flex">
                <div>
                  <img class="blur-top" src="assets/img/2nd.svg">
                  <img src="assets/img/client-blur-2.png">
                  <img class="client-avatar" src="assets/img/icons/client-avatar-2.svg">
                </div>
                <div class="card-body__item-content d-flex flex-column position-relative justify-content-center">
                  <div class="d-flex align-items-baseline">
                    <h2 class="card-body__item-header">Charlie Herwitz</h2>
                    <img class="ms-2" src="assets/img/icons/check.svg">
                  </div>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h3 class="card-body__item-header--small">20</h3>
                      <span class="card-body__item-text">Alerts</span>
                    </div>
                    <div class="d-flex flex-column ms-3">
                      <h3 class="card-body__item-header--small">85%</h3>
                      <span class="card-body__item-text">Win Rate</span>
                    </div>
                    <div class="d-flex flex-column ms-3">
                      <h3 class="card-body__item-header--small">11%</h3>
                      <span class="card-body__item-text">Yield</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body__item-content--money d-flex flex-column justify-content-end">
                <h3 class="card-body__item-header--money m-0">
                  + 1,430
                </h3>
                <span class="card-body__item-text--money text-end">25%</span>
              </div>
            </div>
          </section>
        </li>
        <li class="list-group-item"><section class="d-flex rounded-lg">
          <div class="d-flex justify-content-between w-100">
            <div class="d-flex">
              <div>
                <img class="blur-top" src="assets/img/3rd.svg">
                <img src="assets/img/client-blur-3.png">
                <img class="client-avatar" src="assets/img/icons/client-avatar-3.svg">
              </div>
              <div class="card-body__item-content d-flex flex-column position-relative justify-content-center">
                <div class="d-flex align-items-baseline">
                  <h2 class="card-body__item-header">Ahmad Mango</h2>
                  <img class="ms-2" src="assets/img/icons/check.svg">
                </div>
                <div class="d-flex">
                  <div class="d-flex flex-column">
                    <h3 class="card-body__item-header--small">20</h3>
                    <span class="card-body__item-text">Alerts</span>
                  </div>
                  <div class="d-flex flex-column ms-3">
                    <h3 class="card-body__item-header--small">85%</h3>
                    <span class="card-body__item-text">Win Rate</span>
                  </div>
                  <div class="d-flex flex-column ms-3">
                    <h3 class="card-body__item-header--small">11%</h3>
                    <span class="card-body__item-text">Yield</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body__item-content--money d-flex flex-column justify-content-end">
              <h3 class="card-body__item-header--losts m-0">
                - 1,500
              </h3>
              <span class="card-body__item-text--losts text-end">10%</span>
            </div>
          </div>
        </section></li>
      </ul>
      <div class="card-body d-flex justify-content-between">
        <div class="d-flex">
          <div class="d-flex me-3">
            <img class="avatar rounded-circle" src="assets/img/icons/user-avatar-1.svg">
            <div class="d-flex flex-column justify-content-center ms-2">
              <h3 class="card-body__item-header--smaller">Roger K</h3>
              <span class="card-body__item-text--small">{{ '@rog13k' }}</span>
            </div>
          </div>
          <div class="d-flex">
            <img src="assets/img/icons/points-icon.svg"> 
            <div class="d-flex flex-column justify-content-center ms-2">
              <h3 class="card-body__item-header--smaller">20,000</h3>
              <span class="card-body__item-text--small">{{ '@xBits prize' }}</span>
            </div>
          </div>
        </div>
        <div>
          <div class="d-flex">
            <img src="assets/img/icons/red-points.svg"> 
            <div class="d-flex flex-column justify-content-center ms-2">
              <h3 class="card-body__item-header--smaller-red">Days</h3>
              <span class="card-body__item-text--small-red">{{ 'past' }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center w-100">
        <button (click)="buttonClick()">VIEW</button>
      </div>
    </div>
  </section>

  <section class="content mt-2">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="avatar-stack d-flex">
            <img class="avatar position-relative" src="assets/img/icons/avatar-1.svg" />
            <img class="avatar position-relative" src="assets/img/icons/avatar-2.svg" />
            <img class="avatar position-relative" src="assets/img/icons/avatar-3.svg" />
            <span class="avatar rounded-circle">18</span>
        </div>
        <span class="content__header content__header--small">Too late to join</span>
      </div>
        <h5 class="card-title content__header mt-3">Double Gain Week Contest</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <section class="d-flex rounded-lg">
            <div class="d-flex justify-content-between w-100">
              <div class="d-flex">
                <div>
                  <img src="assets/img/client-blur-1.png">
                  <img class="client-avatar" src="assets/img/icons/client-avatar-1.svg">
                </div>
                <div class="card-body__item-content d-flex flex-column position-relative justify-content-center">
                  <div class="d-flex align-items-baseline">
                    <h2 class="card-body__item-header">Roger Korsgaard</h2>
                    <img class="ms-2" src="assets/img/icons/check.svg">
                  </div>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h3 class="card-body__item-header--small">20</h3>
                      <span class="card-body__item-text">Alerts</span>
                    </div>
                    <div class="d-flex flex-column ms-3">
                      <h3 class="card-body__item-header--small">85%</h3>
                      <span class="card-body__item-text">Win Rate</span>
                    </div>
                    <div class="d-flex flex-column ms-3">
                      <h3 class="card-body__item-header--small">11%</h3>
                      <span class="card-body__item-text">Yield</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body__item-content--money d-flex flex-column justify-content-end">
                <h3 class="card-body__item-header--money m-0">
                  + 7,500
                </h3>
                <span class="card-body__item-text--money text-end">45%</span>
              </div>
            </div>
          </section>
        </li>
        <li class="list-group-item">
          <section class="d-flex rounded-lg">
            <div class="d-flex justify-content-between w-100">
              <div class="d-flex">
                <div>
                  <img class="blur-top" src="assets/img/2nd.svg">
                  <img src="assets/img/client-blur-2.png">
                  <img class="client-avatar" src="assets/img/icons/client-avatar-2.svg">
                </div>
                <div class="card-body__item-content d-flex flex-column position-relative justify-content-center">
                  <div class="d-flex align-items-baseline">
                    <h2 class="card-body__item-header">Charlie Herwitz</h2>
                    <img class="ms-2" src="assets/img/icons/check.svg">
                  </div>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h3 class="card-body__item-header--small">20</h3>
                      <span class="card-body__item-text">Alerts</span>
                    </div>
                    <div class="d-flex flex-column ms-3">
                      <h3 class="card-body__item-header--small">85%</h3>
                      <span class="card-body__item-text">Win Rate</span>
                    </div>
                    <div class="d-flex flex-column ms-3">
                      <h3 class="card-body__item-header--small">11%</h3>
                      <span class="card-body__item-text">Yield</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body__item-content--money d-flex flex-column justify-content-end">
                <h3 class="card-body__item-header--money m-0">
                  + 1,430
                </h3>
                <span class="card-body__item-text--money text-end">25%</span>
              </div>
            </div>
          </section>
        </li>
        <li class="list-group-item"><section class="d-flex rounded-lg">
          <div class="d-flex justify-content-between w-100">
            <div class="d-flex">
              <div>
                <img class="blur-top" src="assets/img/3rd.svg">
                <img src="assets/img/client-blur-3.png">
                <img class="client-avatar" src="assets/img/icons/client-avatar-3.svg">
              </div>
              <div class="card-body__item-content d-flex flex-column position-relative justify-content-center">
                <div class="d-flex align-items-baseline">
                  <h2 class="card-body__item-header">Ahmad Mango</h2>
                  <img class="ms-2" src="assets/img/icons/check.svg">
                </div>
                <div class="d-flex">
                  <div class="d-flex flex-column">
                    <h3 class="card-body__item-header--small">20</h3>
                    <span class="card-body__item-text">Alerts</span>
                  </div>
                  <div class="d-flex flex-column ms-3">
                    <h3 class="card-body__item-header--small">85%</h3>
                    <span class="card-body__item-text">Win Rate</span>
                  </div>
                  <div class="d-flex flex-column ms-3">
                    <h3 class="card-body__item-header--small">11%</h3>
                    <span class="card-body__item-text">Yield</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body__item-content--money d-flex flex-column justify-content-end">
              <h3 class="card-body__item-header--losts m-0">
                - 1,500
              </h3>
              <span class="card-body__item-text--losts text-end">10%</span>
            </div>
          </div>
        </section></li>
      </ul>
      <div class="card-body d-flex justify-content-between">
        <div class="d-flex">
          <div class="d-flex me-3">
            <img class="avatar rounded-circle" src="assets/img/icons/user-avatar-1.svg">
            <div class="d-flex flex-column justify-content-center ms-2">
              <h3 class="card-body__item-header--smaller">Roger K</h3>
              <span class="card-body__item-text--small">{{ '@rog13k' }}</span>
            </div>
          </div>
          <div class="d-flex">
            <img src="assets/img/icons/points-icon.svg"> 
            <div class="d-flex flex-column justify-content-center ms-2">
              <h3 class="card-body__item-header--smaller">20,000</h3>
              <span class="card-body__item-text--small">{{ '@xBits prize' }}</span>
            </div>
          </div>
        </div>
        <div>
          <div class="d-flex">
            <img src="assets/img/icons/red-points.svg"> 
            <div class="d-flex flex-column justify-content-center ms-2">
              <h3 class="card-body__item-header--smaller-red">Days</h3>
              <span class="card-body__item-text--small-red">{{ 'past' }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center w-100">
        <button (click)="buttonClick()">VIEW</button>
      </div>
    </div>
  </section>
    <div class="plus-icon rounded-circle d-flex align-items-center justify-content-center" (click)="buttonClick()">
      <img src="assets/img/icons/plus-sign-icon.svg">
    </div>
</div>
