/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body {
    font-family: Poppins;
    background-color: black;
    background-image: url('assets/img/background-vector.svg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

  $custom-color-header: #8a9496;